@import "components/container.css";
@import "components/avatar.css";
@import "components/button.css";
@import "components/banner.css";
@import "components/card.css";

/* inter-tight-regular - latin */
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/inter-tight-v1-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/inter-tight-v1-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  background-color: rgb(250,250,250);
  color: #1d1d1f;
  font-family: 'Inter Tight', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 1px;
  font-weight: lighter;
  text-decoration: none;
  margin: 0px;
}

h1, h2, h3 {
  color: #252257;
}

a {
  color: #2900F6;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.2s linear;
}